@charset "UTF-8";

a, a:focus, a:visited {
    color: #0288D1;
}
a:hover {
	color: #F57C00;
}

.navbar-default {
    background-color: transparent;
}

.navbar-fixed-top{
	background-color: #296DC9;
}

.status{
	background-color: #296DC9;
}
